--find-links=https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]
flax
optax
numpy
scipy
scikit-learn
matplotlib
seaborn
cmocean
jupyterlab
ipywidgets
ipympl
tqdm
zarr
h5py
diffrax
equinox
jaxopt
kymatio
pyqg @ git+https://github.com/karlotness/pyqg.git@33d93107fcd695e1bcd451f4c268aabd9bf8cee8
xarray
netCDF4
ml-collections
Pillow
einops
jaxtyping
gcm_filters
pyqg-jax
powerpax
jax-cfd[complete]
gin-config
dm-haiku
