--find-links=https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_local]
flax
optax
numpy
scipy
scikit-learn
matplotlib
seaborn
jupyterlab
ipywidgets
tqdm
zarr
h5py
diffrax
equinox
jaxopt
kymatio
pyqg
xarray
netCDF4
ml-collections
Pillow
einops
jaxtyping
gcm_filters
pyqg-jax
