--find-links=https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]
flax
optax
numpy
scipy
scikit-learn
matplotlib
seaborn
cmocean
jupyterlab
ipywidgets
ipympl
tqdm
zarr
h5py
diffrax
equinox
jaxopt
kymatio
pyqg @ git+https://github.com/karlotness/pyqg.git@e225c327ae1de9e8abc1cb3c8ad8b89fa93f8965
xarray
netCDF4
ml-collections
Pillow
einops
jaxtyping
gcm_filters
pyqg-jax
powerpax
jax-cfd[complete] @ git+https://github.com/google/jax-cfd.git@214b8313f20e8c72d50ff2ff537ff8f0c3190c40
gin-config
dm-haiku
penzai
orbax-checkpoint
clu
